{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <div class="form-group row">
                <label class="col-2 col-form-label" for="inputPseudo">Pseudo</label>
                <div class="col-10">
                    <input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control" required autofocus>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label" for="inputPassword">Password</label>
                <div class="col-10">
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                </div>
            </div>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>
            </div>

            <button class="btn btn-lg btn-primary" type="submit">
                Sign in
            </button>
            <button class="btn btn-lg btn-primary" onclick="location.href='register'" type="button">
                S'inscrire
            </button>
        </form>
    </div>
</div>
{% endblock %}
