{% extends 'base.html.twig' %}

{% block title %}{{ pseudo }}{% endblock %}

{% block body %}
{% if app.user.photo != null %}
<div><img src="{{ asset(images_directory ~ app.user.photo) }}" height="200"></div>
{% endif %}
{{ form_start(profileForm) }}
        {{ form_row(profileForm.prenom) }}
        {{ form_row(profileForm.nom) }}

        {{ form_row(profileForm.mail) }}

{{ form_end(profileForm) }}
{% endblock %}
