{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<table>
    <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>inscrits/places</th>
            <th>Etat</th>
            <th>inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateDebut|date('Y-m-d H:i') }}</td>
                <td>{{ sortie.dateFin|date('Y-m-d H:i') }}</td>
                <td>{{ sortie.inscriptions|length }}/{{ sortie.maxInscriptions}}</td>
                <td>{{ sortie.etat }}</td>
                <td></td>
                <td>{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}</td>
            </tr>
        {% endfor %}
        
    </tbody>
</table>
{% endblock %}
